@{
    ViewBag.Title = "title";
    Layout = "_EmployeeLayout";
}

<div class="flex flex-col space-y-5">
    <span class="font-bold text-xl">
        Menu
    </span>
    <div class="bg-gray-200 p-3 rounded">
        <a asp-controller="SchoolHours" asp-action="Index">
            <div class="flex space-x-3">
                <div>
                    <i class="fa-solid fa-school"></i>
                </div>
                <span>Schoolrooster</span>
            </div>
        </a>
    </div>
    <div class="bg-gray-200 p-3 rounded">
        <a asp-controller="Availability" asp-action="Index">
            <div class="flex space-x-3">
                <div>
                    <i class="fa-solid fa-clipboard"></i>
                </div>
                <span>Beschikbaarheid</span>
            </div>
        </a>
    </div>
</div>